#handen {
   position: absolute;
    top: 33%;
    right: 50%;
}
#tummeUp {
    position: absolute;
    display: none;
    top: 25%;
    right: 50%;
}
#sentText {
    display: none;
}
 
 @media only screen and (min-width: 768px) {
    #handen {
        position: absolute;
        top: 25%;
        right: 50%;
    }

    #tummeUp {
        position: absolute;
        display: none;
        top: 25%;
        right: 50%;
    }
    #sentText {
        display: none;
    }
   
}



#kontaktform{
    width: 50%;
    padding: 5px;
    margin: 100px auto;
    box-shadow: 1px 1px 8px #617080;
}

.namnFalt, mailFalt, .telFalt, .medFalt {
    display: block;
    width: 400px;
    text-align: left;
    margin-right: 10px;
}

       
#map {
    float:right;
    height: 400px;  
    width: 100%; 
   }



.friText {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

